/**************************************************
	COLORS & VARIABLES
**************************************************/
$purple: #6d67c3;
$blue: #1A6AFF;
$green: #2ac971;
$red: #e65454;
$navy: #404969;
$testimonial-green: #00B6CC;

$msu-blue-1: #bfd3ec;
$msu-blue-2: #7fa9d8;
$msu-blue-3: #417ec5;
$msu-blue-4: #0953b3;

$light-gray-bg: #f3f3f3;
$gray-body-text: #333;


/**************************************************
	MIXINS
**************************************************/
@mixin heading-font {
	font-family: 'Patua One', Verdana, sans-serif;
}

@mixin body-font {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

@mixin border-radius($size) {
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	-ms-border-radius: $size;
	-o-border-radius: $size;
	border-radius: $size;
}

@mixin transition($duration) {
	-webkit-transition: $duration;
	-moz-transition: $duration;
	-ms-transition: $duration;
	-o-transition: $duration;
	transition: $duration;
}

@mixin transform($property) {
	-webkit-transform: $property;
	-moz-transform: $property;
	-ms-transform: $property;
	-o-transform: $property;
	transform: $property;
}


/**************************************************
	GLOBAL STYLES
**************************************************/
section {
	position: relative;
}

.mobile-steam-unit h1,h2,h3,h4,h5.h6 {
	@include heading-font;
	-webkit-font-smoothing: antialiased;
}

.mobile-steam-unit p {
	@include body-font;
	-webkit-font-smoothing: antialiased;
}

.button {
	box-shadow: 0px 7px 10px rgba(0,0,0,.1);
	cursor: pointer;
  display: block;
	font-size: 20px;
	font-weight: 900;
	margin: 25px 0;
	max-width: 300px;
  padding: 15px 0;
	text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  @include body-font;
  @include transition(175ms);
  @include border-radius(6px);
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 900;
}

.bar {
	background-color: rgba(255,255,255, .1);
	height: 3px;
	margin: -5px 0 10px;
	transition: 200ms;
	width: 30%;
}

.mobile-steam-unit input,
.mobile-steam-unit textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-moz-selection,
::selection {
	background-color: #ff4086;
	color: #fff;
}


/**************************************************
	MEDIA QUERIES
**************************************************/
@media (min-width: 1000px) {
	.header-font-size {
		font-size: 42px;
	}

	.body-font-size {
		font-size: 22px;
	}
}

@media (min-width: 768px) and (max-width: 999px) {
	.header-font-size {
		font-size: 34px;
	}
	
	.body-font-size {
		font-size: 18px;
	}
}

@media (max-width: 767px) {
	.header-font-size {
		font-size: 30px;
		line-height: 1.2;
	}
	
	.body-font-size {
		font-size: 18px;
	}

	.button {
		max-width: 100%;
		margin: 40px auto 20px;
	}

	.large-screen {
		display: none;
	}
}


/**************************************************
	MEDIA QUERIES – SECTIONS
**************************************************/
@media (min-width:1400px) {
	.story,
	.testimonials,
	.team {
		padding: 120px 0;
	}

	.products {
		padding: 150px 0;
	}
}

@media (min-width:1100px) and (max-width:1399px) {
	.story,
	.testimonials,
	.team {
		padding: 100px 0;
	}

	.products {
		padding: 120px 0;
	}
}

@media (min-width: 768px) and (max-width:1099px) {
	.story,
	.testimonials,
	.team {
		padding: 80px 0;
	}

	.products {
		padding: 50px 0;
	}
}

@media (max-width: 767px) {
	.story {
		padding: 50px 30px;
	}

	.testimonials,
	.products {
		padding: 50px 0;
	}

	.team {
		padding: 50px 30px;
	}

	.products.gigs {
		padding: 0 0 50px;
	}
}

@media (min-width: 768px) {
	.button {
		&:hover {
			box-shadow: 0px 13px 15px rgba(0,0,0,.1);
			@include transform(translateY(-2px));
			letter-spacing: 1px;
		}

		&:active {
			box-shadow: 0px 10px 12px rgba(0,0,0,.1);
			@include transform(translateY(-1px));
		}
	}

	.small-screen {
		display: none;
	}
}
