/**************************************************
	PRODUCTS - GLOBAL
**************************************************/
.products {
	// background-color: $blue;
	overflow: hidden;
  @include transition(1000ms);
}

.products__row {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;

	.products__col {
		flex: 1;
		padding: 40px;
		text-align: center;
		position: relative;
		z-index: 1;

		&::before,
		&::after {
			content: '';
			position: absolute;
			z-index: -1;
		}

		&:not(.music__content):first-child::before,
		&.music__title::before {
			background-color: rgba(0,0,0, .04);
			left: 0;
			right: 40%;
			top: 0;
			bottom: 40%;
			@include transform(skew(0deg));
			@include border-radius(8px);
		}

		&:not(.music__title):not(.jingles__content):last-child::after,
		&.music__content::after {
			background-color: rgba(255,255,255, .1);
			bottom: 0;
			height: 300px;
			left: 10%;
			width: 300px;
			@include transform(skew(0deg));
			@include border-radius(50%);
		}

		&.jingles__content::after {
			background-color: rgba(0,0,0, .04);
			height: 300px;
			left: 50%;
			top: 50%;
			width: 300px;
			@include transform(skew(0deg));
			@include border-radius(50%);
		}
	}
}

.product-title {
	color: #eee;
  line-height: 1;
  margin: 30px 0;
	text-align: left;
	@include heading-font;
	@extend .header-font-size;
}

.product-description {
	color: #eee;
	line-height: 1.5;
	text-align: left;
	@include body-font;
	@extend .body-font-size;
}

.product-button {
	background-color: #fff;
	@extend .button;
}

.mailchimp {
  // background-color: #16135a;
  background-color: $blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto auto;
  background-position: center;
}

.mc-form {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.mc-prompt,
.mc-input,
.mc-submit {
  flex: none;
}

.mc-prompt {
  color: #fff;
  display: inline-block;
  font-size: 36px;
  line-height: 50px;
  @include heading-font;
}

.mc-input {
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  padding: 5px 10px;
  margin: 0 5px 0 25px;
  @include body-font;
}

.mc-submit {
  background-color: $green;
  border: none;
  color: #fff;
  display: inline-block;
  line-height: 20px;
  margin: 0;
  text-shadow: 0px 0px 1px rgba(0,0,0,.4);
  width: 150px;
  @extend .button;
}

.yt-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;

  iframe,
  embed,
  object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .yt-async {
    background-size: cover;
    cursor: pointer;
    width: 100%;

    .yt-icon {
      padding: calc(28.125% - 30px) 0;
    }
  }
}

/**************************************************
	PRODUCTS - GIGS
**************************************************/
.gigs {
	z-index: 1;

	.product-button {
		color: $blue;
  }
  
  .yt-async {
    background-image: url('https://res.cloudinary.com/ddkucvkg0/image/upload/v1531938974/yt-thumb.jpg');
  }
}

/**************************************************
	PRODUCTS - MUSIC
**************************************************/
.art {
  z-index: 2;
  
  .yt-async {
    background-image: url('https://res.cloudinary.com/ddkucvkg0/image/upload/v1532279777/steam/sex-w-os-thumb.jpg');
  }
}


/**************************************************
	PRODUCTS - JINGLES
**************************************************/
.jingles {
	z-index: 3;
  overflow: hidden;
  background-color: #fff;

	.product-button {
		background-color: $blue;
  }

  .product-title {
    color: $blue;
  }
  
  .product-description {
    color: $blue;
  }
  
}

.jingles__content {
	box-sizing: border-box;
	height: 500px;
	position: relative;
	width: 500px;
}


/**************************************************
	MEDIA QUERIES – MOBILE/DESKTOP
**************************************************/
@media (min-width: 768px) {
	.products__row {
		align-items: center;
		flex-direction: row;
	
    .gigs__title,
    .music__title {
			order: 1;
		}

    .jingles__content,
    .music__content {
			order: 2;
		}

		.jingles__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

  .yt-async {
    filter: brightness(80%);

    .yt-icon {
      opacity: .8;
    }

    &:hover {
      filter: brightness(100%);
      .yt-icon {
        opacity: 1;
      }
    }
  }

}

@media (max-width: 767px) {
	.products__row {
		flex-direction: column;
	
		.gigs__title,
    .jingles__title,
    .music__title {
			order: 1;
			padding-bottom: 0;
		}

		.gigs__title {
			z-index: 2;
		}

		.gigs__content,
    .jingles__content,
    .music__content {
			order: 2;
		}

		.music__content iframe {
			width: 100%;
		}

		.jingles__content {
			height: auto;
			padding: 40px 40px 0;
			width: 100%;
		}
  }
  
  .mc-form {
    padding: 50px 10%;

    .mc-prompt {
      font-size: 30px;
      line-height: 1.2;
    }

    .mc-fields {
      width: 100%;

      .mc-input {
        display: block;
        margin: 0 0 10px;
        width: 100%;
      }

      .mc-submit {
        display: block;
        width: 100%;
      }
    }

  }

}

@media (max-width: 1199px) {
  .mc-form {
    align-items: center;
    flex-direction: column;
    text-align: center;

    .mc-prompt {
      margin-bottom: 20px;
    }
  }
}
