.connect {
	overflow: hidden;
	background-color: $red;
}

.connect__header {
	color: #fff;
	max-width: 800px;
	margin: 50px auto 0;
	padding: 0 0 40px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@include heading-font;
	@extend .header-font-size;
}

.steamfeed {
	bottom: 0;
	left: -400px;
	position: absolute;
	right: 0px;
	width: calc(100% + 400px);
	z-index: 0;
}

.steamfeed__row {
	display: flex;
	flex-direction: row;
}

.steamfeed__img {
	flex: 1;
	padding: 5px;
	
	img {
		opacity: .2;
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
		width: 100%;
	}
}


.social__links {
	display: flex;
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	
	.social__link {
		cursor: pointer;
		flex: 1;
		margin: 40px;
		@include transition(120ms);

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1.075);
		}

		svg path {
			fill: #fff;
		}
	}
}

.connect > *:not(.steamfeed) {
	position: relative;
	z-index: 1;
}


/**************************************************
	MEDIA QUERIES
**************************************************/
// @media (min-width: 1200px) {
// 	.connect {
// 		padding: 140px 0;
// 	}
// }

// @media (min-width: 1000px) and (max-width: 1199px) {
// 	.connect {
// 		padding: 95px 0;
// 	}
// }

// @media (max-width: 999px) {
// 	.connect {
// 		padding: 70px 0;
// 	}
// }


@media (min-width: 768px) {
	.social__links {
		flex-direction: row;
	}
}

@media (max-width: 767px) {
	.social__links {
		align-items: center;
		flex-direction: column;
	}
}
