.footer {
	background-color: #eee;
	background-position: -10px;
	border-top: 5px solid #e2e2e2;
}

.footer__content {
	align-items: center;
	display: flex;
}

.footer__logo {
	width: 200px;

	.logo {
		width: 100%;
		opacity: .4;
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	}	
}

.footer__links {
	box-sizing: border-box;

	.link-group__header {
		color: #888;
		@include heading-font;
		text-transform: uppercase;
	}

	.footer__link {
		color: #888;
		cursor: pointer;
		display: inline-block;
		line-height: 1.5;
		@include body-font;
	}

}

.footer__copyright {
	color: #888;
	max-width: 430px;
	@include body-font;

	span:not(#year) {
		color: lighten($blue, 10%);
	}

	a {
		color: #888;
		cursor: pointer;
		text-decoration: none;
		@include transition(150ms);

		&:hover {
			color: $blue;
		}
	}
}


@media (min-width: 768px) {
	.footer {
		padding: 80px;

		.footer__content {
			flex-direction: row;
		}

		.footer__links {
			flex: auto;
			margin: 0 0 0 50px;
			padding: 0 30px;

			.footer__link-group {
				float: left;
				margin: 0 50px 0 0;
			}

			.footer__link {
				@include transition(150ms);

				&:hover {
					color: $blue;
					transform: translateX(2px);
				}
			}
		}

		.footer__copyright {
			text-align: right;
		}
	}
}

@media (max-width: 767px) {
	.footer {
		padding: 30px;

		.footer__content {
			flex-direction: column;
		}

		.footer__logo {
			margin: 0 0 25px;
		}

		.footer__links {
			display: flex;
			flex-direction: row;
			width: 100%;

			.footer__link-group {
				flex: auto;
				text-align: center;

				.footer__link {
					line-height: 2.5;
				}
			}
		}

		.footer__copyright {
			line-height: 1.5;
			margin: 0 auto;
			padding: 20px 0 0;
			text-align: center;
		}
	}
}
