.header {
	// background-color: #111;
	position: relative;
}

.header__video {
	position: relative;
	width: 100%;
	z-index: 1;
}

.header__overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.header__logo {
	background-image: url('/dist/assets/logo.png');
	background-size: cover;
	position: absolute;
	z-index: 3;
}

.header__message {
	color: #fff;
	position: absolute;
	z-index: 3;
}


@media (min-width: 768px) {
	.header {
		max-height: 100vh;
		overflow: hidden;

		.header__logo {
			height: 64px;
			left: 20px;
			top: 20px;
			width: 150px;
		}

		.header__message {
			font-size: 7vw;
			left: 10%;
			text-align: left;
			top: 50%;
		}

		.header__overlay {
			background-color: rgba(0,0,0,.2);
		}
	}
}

@media (max-width: 767px) {
	.header {
		background-image: url('dist/assets/header-image-mobile.jpg');
		background-size: 100%;
		padding-top: 100%;

		.header__video {
			display: none;
		}

		.header__logo {
			left: 10px;
			height: 42.96px;
			top: 10px;
			width: 100px;
		}

		.header__message {
			font-size: 8vw;
			left: 0;
			right: 0;
			text-align: center;
			text-shadow: 0px 0px 30px #000;
			top: calc(50% - 30px);
		}

		.header__overlay {
			background-color: rgba(0,0,0, .3);
		}
	}
}
