/**************************************************
	PRODUCTS - GLOBAL
**************************************************/
.products__row {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 1200px;

	.products__col {
		flex: 1;
		padding: 40px;
		text-align: center;
	}
}

.skew-bg::before {
	content: "";
	height: 150%;
	position: absolute;
	-webkit-transform: skewY(-6deg);
	-moz-transform: skewY(-6deg);
	-ms-transform: skewY(-6deg);
	transform: skewY(-6deg);
	top: 0;
	width: 100%;
	z-index: -1;
}

.product-title {
	color: #fff;
	font-size: 34px;
	line-height: 2;
	text-align: left;
	@include heading-font;
}

.product-description {
	color: #fff;
	font-size: 22px;
	line-height: 1.5;
	text-align: left;
	@include body-font;
}


/**************************************************
	PRODUCTS - GIGS
**************************************************/
.gigs {
	z-index: 1;
}

.gigs > * {
	z-index: 1;
}

.gigs::before {
	background: $blue;
	// background-image: url('../../dist/images/live-bg.png');
	background-attachment: fixed;
	height: 200%;
	top: -20%;
}

.gigs::after {
	// content: '';
	background-image: url('../../dist/images/mic.png');
	background-attachment: fixed;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	overflow: hidden;
}

.gigs .gigs__title {
	position: relative;
	svg {
		position: absolute;
		opacity: .3;
		left: calc(50% - 105px);
		// transform: rotate(-20deg);
		top: 100px;
		width: 240px;
		height: 240px;
		z-index: -1;
	}
}

// .gigs .product-description {
// 	background-image: url('../../dist/images/big-mic.png');
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: contain;
// }

/**************************************************
	PRODUCTS - MUSIC
**************************************************/
.music {
	z-index: 2;
}

.music::before {
	background-color: $green;
	// background-image: url('../../dist/images/music-bg2.png');
	background-attachment: fixed;
}

.music::after {
	// content: '';
	background-image: url('../../dist/images/music-bg.png');
	background-attachment: fixed;
	height: 70%;
	position: absolute;
	top: 15%;
	z-index: 0;
	width: 40%;
	right: 5%;
	left: 55%;
	overflow: hidden;
}

.music .music__title {
	position: relative;
	svg {
		position: absolute;
		opacity: .3;
		left: calc(50% - 125px);
		top: 0;
		width: 250px;
		z-index: -1;
	}
}

// .music .product-description {
// 	background-image: url('../../dist/images/headphones.png');
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: contain;
// }

/**************************************************
	PRODUCTS - JINGLES
**************************************************/
.jingles {
	z-index: 3;
}

.jingles::before {
	background-color: $purple;
}


/**************************************************
	MEDIA QUERIES
**************************************************/
@media (min-width:1400px) {
	.products {
		padding: 150px 0;
	}
}

@media (min-width:1100px) and (max-width:1399px) {
	.products {
		padding: 130px 0;
	}
}

@media (max-width:1099px) {
	.products {
		padding: 100px 0;
	}
}

