/**************************************************
	PRODUCTS - GLOBAL
**************************************************/
.products__row {
	display: flex;
	margin: 0 auto;
	max-width: 1200px;

	.products__col {
		flex: 1;
		padding: 40px;
		text-align: center;
	}
}

.skew-bg::before {
	content: "";
	height: 150%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	@include transform(skewY(-6deg));
}

.product-title {
	color: #eee;
	line-height: 2;
	text-align: left;
	@include heading-font;
	@extend .header-font-size;
}

.product-description {
	color: #eee;
	line-height: 1.5;
	text-align: left;
	@include body-font;
	@extend .body-font-size;
}

.product-button {
	background-color: #fff;
	@extend .button;
}


/**************************************************
	PRODUCTS - GIGS
**************************************************/
.gigs {
	z-index: 1;

	.gigs__content {
		max-width: 560px;

		.yt-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;

			iframe,
			embed,
			object {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	.product-button {
		color: $blue;
	}
}

.skew-bg.gigs::before {
	background: $blue;
	top: -20%;
}


/**************************************************
	PRODUCTS - MUSIC
**************************************************/
.music {
	z-index: 2;

	.product-button {
		color: $green;
	}
}

.skew-bg.music::before {
	background-color: $green;
}


/**************************************************
	PRODUCTS - JINGLES
**************************************************/
.jingles {
	z-index: 3;
	
	.product-button {
		color: $purple;
	}


	.jingles__content {
		box-sizing: border-box;
		height: 500px;
		position: relative;
		width: 500px;

		.logo {
			position: absolute;
			z-index: 10;

			&.blueapron {
				max-width: 200px;
			}

			&.guru {
				fill: #fff;
				max-width: 200px;
			}

			&.macys {
				max-width: 250px;
			}

			&.spacious {
				fill: #fff;
				max-width: 200px;
			}

			&.slack {
				fill: #fff;
				max-width: 250px;
			}
		}

	}
}

.skew-bg.jingles::before {
	background-color: $purple;
}


/**************************************************
	MEDIA QUERIES – PRODUCTS STRUCTURE
**************************************************/
@media (min-width:1400px) {
	.products {
		padding: 150px 0;
	}
}

@media (min-width:1100px) and (max-width:1399px) {
	.products {
		padding: 130px 0;
	}
}

@media (max-width:1099px) {
	.products {
		padding: 100px 0;
	}
}


/**************************************************
	MEDIA QUERIES – MOBILE/DESKTOP
**************************************************/
@media (min-width: 768px) {
	.products__row {
		align-items: center;
		flex-direction: row;
	}

	.gigs__title,
	.music__content,
	.jingles__title {
		order: 1;
	}

	.gigs__content,
	.music__title,
	.jingles__content {
		order: 2;
	}
}

@media (max-width: 767px) {
	.products__row {
		flex-direction: column;
	}

	.gigs__title,
	.music__title,
	.jingles__title {
		order: 1;
	}

	.gigs__content,
	.music__content,
	.jingles__content {
		order: 2;
	}
}


/**************************************************
	MEDIA QUERIES – JINGLE LOGOS
**************************************************/
@media (min-width: 1100px) {
	.jingles .jingles__content {
		.logo {
			cursor: pointer;
			@include transition(100ms);

			&:hover {
				@include transform(scale(1.1));
			}

			&:active {
				@include transform(scale(1.07));
			}

			&.blueapron {
				left: 10%;
				top: 53%;

				path { fill: rgba(0,0,0, .5); }

				&:hover {
					path { fill: rgba(255,255,255, .8); }
				}
			}

			&.guru {
				right: 14%;
				top: 60%;

				g { fill: rgba(0,0,0, .5); }

				&:hover {
					g { fill: rgba(255,255,255, .8); }
				}
			}

			&.macys {
				right: 15%;
				top: 20%;
				path, g { fill: rgba(0,0,0, .5); }

				&:hover {
					path, g { fill: rgba(255,255,255, .8); }
				}
			}

			&.spacious {
				left: 10%;
				top: 22%;

				path { fill: rgba(0,0,0, .5); }

				&:hover {
					path { fill: rgba(255,255,255, .8); }
				}
			}

			&.slack {
				right: 7%;
				top: 35%;

				path { fill: rgba(0,0,0, .5); }
				path:nth-child(2) { fill: rgba(0,0,0, 0); }

				&:hover {
					path { fill: rgba(255,255,255, .8); }
					path:nth-child(2) { fill: rgba(0,0,0, 0); }
				}
			}
		}
	}
}

@media (min-width: 960px) and (max-width: 1099px) {
	.jingles .jingles__content {
		.logo {
			cursor: pointer;
			@include transition(100ms);

			&:hover {
				@include transform(scale(1.1));
			}

			&:active {
				@include transform(scale(1.07));
			}

			&.blueapron {
				left: 4%;
				top: 53%;
			}

			&.guru {
				right: 7%;
				top: 60%;
			}

			&.macys {
				right: 13%;
				top: 19%;
			}

			&.spacious {
				left: 3%;
				top: 22%;
			}

			&.slack {
				right: 5%;
				top: 35%;
			}
		}
	}
}

@media (min-width:768px) and (max-width: 959px) {
	.jingles .jingles__content {
		.logo {

			&.blueapron {
				left: 4%;
				max-width: 150px;
				top: 53%;
			}

			&.guru {
				max-width: 170px;
				right: 7%;
				top: 60%;
			}

			&.macys {
				max-width: 200px;
				right: 13%;
				top: 19%;
			}

			&.spacious {
				left: 3%;
				max-width: 170px;
				top: 22%;
			}

			&.slack {
				max-width: 200px;
				right: 5%;
				top: 35%;
			}
		}
	}
}

@media (max-width: 767px) {
	.jingles .jingles__content {
		height: 260px;
		width: 100%;

		.logo {

			&.blueapron {
				left: 12%;
				max-width: 150px;
				top: 53%;
			}

			&.guru {
				max-width: 170px;
				right: 14%;
				top: 60%;
			}

			&.macys {
				max-width: 200px;
				right: 12%;
				top: 4%;
			}

			&.spacious {
				left: 10%;
				max-width: 170px;
				top: 3%;
			}

			&.slack {
				max-width: 200px;
				right: 11%;
				top: 24%;
			}
		}
	}
}

