.story {
	background-color: #fff;
	box-sizing: border-box;
	padding: 100px 0;
	z-index: 5;
}

.story__content,
.story__header {
	margin: 0 auto;
	max-width: 800px;
}


.story__header {
	color: $blue;
	padding: 0 0 20px;
	text-align: center;
	@include heading-font;
	@extend .header-font-size;
}

.story__content {
	background-color: $light-gray-bg;
	border-radius: 6px;
	box-sizing: border-box;
	color: $gray-body-text;
	line-height: 1.5;
	margin-top: 60px;
	padding: 40px;
	position: relative;
	text-align: left;
	@include body-font;
	@extend .body-font-size;

	&::before {
		content: "";
		width: 80px;
		height: 80px;
		background-color: $light-gray-bg;
		border-radius: 50%;
		position: absolute;
		z-index: -1;
		top: -40px;
		left: calc(50% - 40px);
	}

	.note::before {
		content: "\266C";
		color: #4585ff;
		font-size: 40px;
		left: 0;
		right: 0;
		position: absolute;
		text-align: center;
		top: -30px;
	}
}
