.story {
	background-color: $light-gray-bg;
	box-sizing: border-box;
	padding: 100px 0;
	z-index: 5;
}

.story__content,
.story__header {
	margin: 0 auto;
	max-width: 1000px;
}

.story__content {
	line-height: 1.5;
}

.story__header {
	color: $blue;
	font-size: 32px;
	padding: 0 0 20px;
	@include heading-font;
}

.story__content {
	color: $gray-body-text;
	font-size: 24px;
}
