.team {
	background-color: #fff;
	// padding: 100px 0;

	& > * {
		position: relative;
		z-index: 1;
	}

	.heading {
		color: $blue;
		margin: 0 0 50px;
    text-align: center;
    @include heading-font;
		@extend .header-font-size;
	}
}

.team__row {
	text-align: center;

	&:first-of-type {
		margin: 0 0 60px;
	}

	.member {
		background-color: $light-gray-bg;
		display: inline-block;
		padding: 30px 0;
		text-align: center;
		vertical-align: top;
		@include border-radius(6px);

		.picture {
			background-image: url('https://res.cloudinary.com/ddkucvkg0/image/upload/v1532279666/steam/steam-team.jpg');
			background-repeat: no-repeat;
			height: 200px;
			margin: 0 auto 20px;
			width: 200px;
			@include border-radius(50%);
		}

		.details {
			background-color: #eee;
			@include border-radius(6px);
		}

		.name {
			color: $blue;
			font-size: 30px;
			padding: 0 0 5px;
			-webkit-font-smoothing: antialiased;
			@include heading-font;
		}

		.title {
			color: #333;
			font-size: 18px;
			padding: 0 0 10px;
			-webkit-font-smoothing: antialiased;
			@include body-font;
		}

		.quote {
			@include body-font;
		}

		&.sam {
			.picture { background-position: 0 0; }
			&:hover .picture { background-position: 0 100%; }
		}

		&.pat {
			.picture { background-position: 25% 0; }
			&:hover .picture { background-position: 25% 100%; }
		}

		&.jeff {
			.picture { background-position: 50% 0; }
			&:hover .picture { background-position: 50% 100%; }
		}

		&.dan {
			.picture { background-position: 75% 0; }
			&:hover .picture { background-position: 75% 100%; }
		}

		&.aaron {
			.picture { background-position: 100% 0; }
			&:hover .picture { background-position: 100% 100%;}
		}
	}
}


/**************************************************
	MEDIA QUERIES: TEAM LAYOUT
**************************************************/
@media (min-width: 724px) and (max-width: 1087px) {
	.member{
		&.aaron {
			margin-top: 60px;
		}
	}
}

@media (max-width: 723px) {
	.member {
		&.aaron,
		&.dan,
		&.pat {
			margin-top: 60px;
		}
	}
}


/**************************************************
	MEDIA QUERIES: TEAM SCROLL EFFECT
**************************************************/
@media (min-width: 768px) {
	.member {
		margin: 0 30px;
		width: 300px;

		.picture {
			@include transition(150ms);
		}
	}
}

@media (max-width: 767px) {
	.member {
		margin: 0;
		width: 100%;

		.picture {
			@include transition(350ms);
		}

		&.sam.hovered .picture { background-position: 0 100%; }
		&.pat.hovered .picture { background-position: 25% 100%; }
		&.jeff.hovered .picture { background-position: 50% 100%; }
		&.dan.hovered .picture { background-position: 75% 100%; }
		&.aaron.hovered .picture { background-position: 100% 100%;}
	}
}