.testimonials {
	background-color: #fff;
	z-index: 4;
}

.testimonials__header {
	color: #00B6CC;
	margin: 0 auto;
	max-width: 860px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@include heading-font;
	@extend .header-font-size;
}

.testimonials__row {
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

.testimonial {
	box-sizing: border-box;
	flex: 1;
	margin: 30px auto;

	.testimonial__message {
		background-color: $light-gray-bg;
		color: $gray-body-text;
		line-height: 1.3;
		padding: 25px;
		position: relative;
		@include border-radius(6px);
		@extend .body-font-size;

		&::before {
			background-color: $light-gray-bg;
			bottom: -5px;
			content: "";
			height: 20px;
			left: 35px;
			position: absolute;
			width: 20px;
			@include transform( rotate(45deg) );
			@include border-radius(3px);
		}
	}

	.testimonial__name {
		color: #222;
		font-size: 18px;
		line-height: 1.3;
		padding: 10px 25px 0;
	}

	.testimonial__company {
		color: #00B6CC;
		font-weight: bold;
	}

	.testimonial__type {
		color: #aaa;
	}
}


/**************************************************
	MEDIA QUERIES
**************************************************/
@media (min-width: 768px) {
	.testimonials {

		.testimonials__header {
			padding: 0 60px 40px;
		}
	
		.testimonials__row {
			flex-direction: column;
		}

		.testimonial {
			width: 100%;
			max-width: 708px;
		}
	}
}

@media (max-width: 767px) {
	.testimonials {

		.testimonials__header {
			padding: 0 30px 40px;
		}
			
		.testimonials__row {
			align-items: center;
			flex-direction: column;
		}

		.testimonial {
			margin: 0 auto 40px;
			width: calc(100% - 60px);

			&:last-child {
				margin: 0;
			}
		}

	}
}

