.testimonials {
	background-color: #fff;
	z-index: 4;
}

.testimonials__header {
	color: $purple;
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@include heading-font;
	@extend .header-font-size;
}

.testimonials__row {
	display: flex;
	margin: 0 auto;
	max-width: 1300px;
}

.testimonial {
	background-color: $light-gray-bg;
	box-sizing: border-box;
	flex: 1;
	max-width: 330px;
	@include border-radius(6px);

	.testimonial__message {
		color: $gray-body-text;
		line-height: 1.3;
		padding: 40px;
	}

	.testimonial__name {
		color: $purple;
		padding: 0 40px 40px;
		@include heading-font;
	}
}


/**************************************************
	MEDIA QUERIES
**************************************************/
@media (min-width: 768px) {
	.testimonials {

		.testimonials__header {
			padding: 0 0 40px;
		}
	
		.testimonials__row {
			flex-direction: row;
		}
	}
}

@media (max-width: 767px) {
	.testimonials {

		.testimonials__header {
			padding: 0 40px 40px;
		}
			
		.testimonials__row {
			align-items: center;
			flex-direction: column;
		}

		.testimonial {
			margin: 0 0 40px;

			&:last-child {
				margin: 0;
			}
		}

	}
}


@media (min-width: 1100px) {
	.testimonials {
		.testimonial {
			margin: 50px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1099px) {
	.testimonials {

		.testimonials__row {
			margin: 0 30px;

			.testimonial:nth-child(2) {
				margin: 0 30px;
			}

			.testimonial__message {
				padding: 30px;
			}
		}
	}
}
