/**************************************************
	COLOR PALETTE
**************************************************/
$purple: #6d67c3;
$blue: #4586ff;
$green: #2ac971;
$red: #e65454;
$navy: #404969;