// @import url('https://fonts.googleapis.com/css?family=Monoton|Raleway');
@import url('https://fonts.googleapis.com/css?family=Patua+One|Source+Sans+Pro');
@import 'variables';
@import 'mediaqueries';
@import 'header';
@import 'products';
@import 'testimonials';
@import 'story';
@import 'team';
@import 'connect';

/**************************************************
	GLOBAL
**************************************************/
section {
	position: relative;
}

input {
	outline: none;
}

.section-title {
	left: 0;
	position: absolute;
	top: 0;
}

.mobile-steam-unit h1,h2,h3,h4,h5.h6 {
	font-family: 'Patua One', cursive;
	-webkit-font-smoothing: antialiased;
}

.mobile-steam-unit p {
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
